<div style="width: 100%; background-color:  #16399e; color: white; padding: 10px; height:250px ;">

    <h3>Contact Details</h3>
    <hr style="width: 3%; float: left; margin-top: -10px;">
 <div class="row">
     
    <div>
        <p>Colombo Education</p>
        <p style="margin-top: -10px;">12/4, </p>
        <p style="margin-top: -10px;">Kandy road,</p>
        <p style="margin-top: -10px;">Mahara, </p>
        <p style="margin-top: -10px;">Kadawatha, </p>
        <p style="margin-top: -10px;">Sri Lanka</p>
      </div>
  
      <div style="padding-left: 5%">
        <table>
          <tr >
            <td>
              <p>Phone: </p>
            </td>
            <td><u>+ 94 11 2 413 50 </u></td>
          </tr>
          <tr>
            <td></td>
            <td><u>+ 94 22 4 486 40</u></td>
          </tr>
          <tr>
            <td>
              <p>Hotline: </p>
            </td>
            <td><u>+ 94 11 4 486 48</u></td>
          </tr>
          <tr>
            <td>
              <p>Fax: </p>
            </td>
            <td><u>+ 94 11 2 413 50</u></td>
          </tr>
        </table>
      </div>

  
      <div style="padding-left: 5%">
        <table>
          <tr>
            <td>
              <p>Email: </p>
            </td>
            <td><u>info@abc.edu</u> </td>
          </tr>
          <tr>
            <td></td>
            <td><u>contact@abc.com</u></td>
          </tr>
          <tr style="margin-top: 20px">
            <div>
                <img src="../assets/fb.png" width="60"/>
                <img src="../assets/fb.png" width="60"/>
              </div>
          </tr>
        </table>
      </div>
  
     
  
      <div class="mapouter" style="padding-left: 15%">
        <div class="gmap_canvas">
        <iframe width="250" height="150" id="gmap_canvas" src="https://maps.google.com/maps?q=netmaista&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      </div>
  
 </div>
  </div>