<!--Navbar-->



<div class="topnav">
    <a class="material-icons">search</a>
    
    <a href="#news"><b>CONTACT US</b></a>
    <a href="#contact"><b>CAREERS</b></a>
    <a href="#about"><b>ALUMINI</b></a>
  </div> 

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light" [containerInside]="false">

        
        <mdb-navbar-brand><a class="navbar-brand" href="#">Assignment</a></mdb-navbar-brand>
      
        <links>
      
         
          <ul class="navbar-nav ml-auto" >
            <li class="nav-item">
              <a class="nav-item nav-link waves-light" style="color:black; font-weight: bold;" mdbWavesEffect> HOME<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" style="color:black; font-weight: bold;" mdbWavesEffect> ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link waves-light" style="color:black; font-weight: bold;" mdbWavesEffect> COURSES<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link waves-light" style="color:black; font-weight: bold;" mdbWavesEffect> ACADEMIC<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link waves-light" style="color:black; font-weight: bold;" mdbWavesEffect> BRANCHES<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link waves-light" style="color:black; font-weight: bold;" mdbWavesEffect> PROJECTS<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link waves-light" style="color:black; font-weight: bold;" mdbWavesEffect> ADMISSION<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link waves-light" style="color:black; font-weight: bold;" mdbWavesEffect> RESEARCH<span class="sr-only">(current)</span></a>
            </li>
      
           
            <li class="nav-item" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" style="color:black; font-weight: bold;" mdbWavesEffect>
                <mdb-icon fas icon="user"></mdb-icon> PROFILE<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Change Password</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
              </div>
            </li>
      
          </ul>
         
        </links>
   
      
      </mdb-navbar>
    
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" (click)="onClick()">
    <i class="fa fa-bars"></i>
  </a>
</div> -->
<!-- function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}  -->

<!-- <div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        JoGeek
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
      <a href="//github.io/jo_geek" target="_blank">Github</a>
      <a href="http://stackoverflow.com/users/4084003/" target="_blank">Stackoverflow</a>
      <a href="https://in.linkedin.com/in/jonesvinothjoseph" target="_blank">LinkedIn</a>
      <a href="https://codepen.io/jo_Geek/" target="_blank">Codepen</a>
      <a href="https://jsfiddle.net/user/jo_Geek/" target="_blank">JsFiddle</a>
    </div>
  </div> -->