<div align="center" class="text-primary" style="font-weight:bold; padding-bottom: 10px;" >
    UPCOMING COURSES
</div>
<span>

</span>
<owl-carousel  [options]="carouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="item" *ngFor="let image of images;let i= index">
          
          <div class="slide-text"  style="border-top-left-radius: 5px; border-top-right-radius: 5px;">
            <img class="slide-image" src="{{image.image}}" height="200px"  style="border-top-left-radius: 5px; border-top-right-radius: 5px;">
            <div style="position: relative; background-color: black; color: white; padding-left: 10px; padding-bottom: 10px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
              <small>BBA (Hons)</small>
              <h5>{{image.text}}</h5>
            </div>
            
          </div>
        </div>
      </owl-carousel>
      