<div>

    <div class="container">
            <app-main-nav></app-main-nav>
    </div>
    <div class="container">
            <app-m-slider></app-m-slider>
     </div>
     
     <div class="container">
            <app-s-slider></app-s-slider>
     </div>
     

     <div class="container">
             <div class="row">
                     <div class="col-lg-6" style="padding-top: 26px;">
                                <h1 style="padding-left: 5%; color: rgb(211, 20, 100)">Events calendar</h1>
                                <app-calander></app-calander>
                     </div>

                     <div class="col-lg-6">
                                <app-contact-us class="col-lg-5" style="padding-left: 10px;"></app-contact-us>
                        </div>
                        
    
             </div>
         <table>
                <tr>
                        <td width="45%" valign="top"> 
                                
                         </td>
                        <td width="45%" valign="top"> 
                                
                         </td>
                </tr>
        </table>

        </div> 
        <div class="container">
            <app-footer></app-footer>
         </div>
    
</div> 
